:host{
    display:block;
}

/* Large Screen */
@media (min-width: 700px) {
    .headline {
        font-size:6vw;
    }

    .punchline {
        font-size: 4vw;
        margin-top: 50px;;
        text-align:right;
    }
}

.headline {
    font-size:8vw;
}

.punchline {
    font-size: 6vw;
    margin-top: 10px;
    text-align:right;
}

.fadeIn{
    animation: fadeIn 7s ease
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    69% {
        opacity: 0;
    }
    70%{
        opacity: .25;
    }
    100% {
        opacity: 1;
    }
}

.tweet-button {
    margin-top: 20px;
    display:flex;
    align-items: center;
    float: right;
    padding: 5px 10px;
    background-color: #EB8400;
    color: white;
    border-radius: 5px;
    font-family: "Helvetica Neue";
    text-decoration: none;
}

img{
    margin-right: 10px;
}