:host{
    display:block;
}

.headline {
    font-size:2em;
}

.punchline {
    font-size: 1em;
    margin-top: 10px;
    text-align:right;
}

.tweet-button {
    margin-top: 20px;
    display:flex;
    align-items: center;
    float: right;
    padding: 5px 10px;
    background-color: #EB8400;
    color: white;
    border-radius: 5px;
    font-family: "Helvetica Neue";
    text-decoration: none;
    min-height: 29px;
    margin-left: 10px;
}

img{
    margin-right: 10px;
}

/* Large Screen */
@media (min-width: 768px) {
    .headline {
        font-size:4em;
    }

    .punchline {
        font-size: 2em;
        margin-top: 50px;;
        text-align:right;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    gap: 0px 0px;
    grid-template-areas:
      "."
      ".";
  }
  