:host{
    display:block;
}

.headline {
    font-size:2em;
}

.punchline {
    font-size: 1em;
    margin-top: 10px;
    text-align:right;
}

.tweet-button {
    margin-top: 20px;
    display:flex;
    align-items: center;
    float: right;
    padding: 5px 10px;
    background-color: #EB8400;
    color: white;
    border-radius: 5px;
    font-family: "Helvetica Neue";
    text-decoration: none;
    min-height: 29px;
    margin-left: 10px;
    font-size:small;
    cursor: hand;
}

img{
    margin-right: 10px;
}

/* Large Screen */
@media (min-width: 768px) {
    .headline {
        font-size:4em;
    }

    .punchline {
        font-size: 2em;
        margin-top: 50px;;
        text-align:right;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    gap: 0px 0px;
    grid-template-areas:
      "."
      ".";
  }

  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(255, 135, 36, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5em;
    color: white;
  }

  .explain{
      width: 80%;
      text-align: left;
  }