
.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 100px;
    width: 100vw;
    height: 100vh;;
}
/********************************
 * Nav
 ********************************/
nav > div {
    font-size: 1.6em;
    min-height: 50px;
    padding: 1rem 4rem;
}

nav {
    display:grid;
    justify-items: center;
    text-align: center;
    padding: 20px;
    max-height: 100px;
}

@media (min-width: 700px) {
    nav{
        grid-template-columns: 1fr auto auto;
        justify-items: start;
    }
}

/********************************
 * Main
 ********************************/
main {
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-items: center;
    column-gap: 10px;
    padding: 20px;
}

/********************************
 * Footer
 ********************************/
footer {
    display: grid;
    justify-items: center;
    padding: 20px;
}

.btn {
    /* default for <button>, but useful for <a> */
    display: inline-block;
    text-align: center;
    text-decoration: none;
  
    /* create a small space when buttons wrap on 2 lines */
    margin: 2px 0;
  
    /* invisible border (will be colored on hover/focus) */
    border: solid 1px transparent;
    border-radius: 4px;
  
    /* size comes from text & padding (no width/height) */
    padding: 0.5em 1em;
  
    /* make sure colors have enough contrast! */
    color: #EB8400;
    background-color: #FDFBD0;
    font-size: large;
  }

  .btn:active {
    transform: translateY(1px);
    filter: saturate(150%);
  }

  .btn:hover {
    color: #9555af;
    background-color: FDFBD0;
  }